/* class = cpc-main-content*/
#cpc-main-content.entry-title{
	background-color: white;
}

#cpc-main-content  h2,h3,h4{
	margin-bottom: 0.2em;
	padding-left: 0.3em;
}

#cpc-main-content  h2{
	background-color: #9DACCC;
	color: #3b5998;
	border-bottom-style: none;
  border-bottom-color: #3b5998;
  border-bottom-width: 0.2em;
}

#cpc-main-content h3{
	background-color: #C4CDE0;
	color: 	#121B2E;
	border-bottom-style: none;
  border-bottom-color: #3b5998;
  border-bottom-width: 1px;
}

#cpc-main-content h4{
	background-color: #EBEEF5;
	color: 	#121B2E;
	border-bottom-style: none;
  border-bottom-color: #3b5998;
  border-bottom-width: 1px;
}

#cpc-main-content ul{
	list-style-type: disc;
	list-style-position: inside;
}

#cpc-main-content dl{
	float: left;
	width: 520px;
	margin: 1em 0;
	padding: 0;
	border-bottom: 1px solid #999;
}
	
#cpc-main-content dt{
	clear: left;
	float: left;
	width: 200px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	font-weight: bold;
}
	
#cpc-main-content dd{
	float: left;
	width: 300px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
}

#cpc-main-content table {
  margin: 10px 10px 10px 10px;
}

#cpc-main-content th, td {
    padding: 10px;
}

#cpc-main-content table, th, td {
    border: 1px solid black;
}

#cpc-main-content{
	position: relative;
}


.cpc-main-photo{
	position: absolute;
	top:0;
	right:0;
	width:200px;
	background-color: white;
	padding: 15px 15px 15px 15px;
	border-color: gray;  
}

/* toc for extract-toc (MD_EXTENSIONS) */
.toc{
	border-color: gray;
	border: solid;
	padding: 15px 10px 10px 10px;  
}
