strong {
	background-color:yellow;
}

h2{
	text-decoration: underline;
}

article>h2{
	/* This is for titles of articles displayed in category.html*/
	font-weight: bold;
	text-decoration: none;
	color: black;
}


h1{
	font-weight:bold;
}

.btn a{
	color: inherit;
}
a.lsit-group-item.active{
	color: inherit;
}
a{
	color: #4183C4;
}

abbr{
	text-decoration: underline;
	background-color: yellow;
}

div.summary h2{
	margin-top: 3px;
}

.tag-in-sidebar{
	padding: 3px;
	float: left;
}